@model OpenCVWebQuiz.Models.Photo

<div class="text-center">
    <h2>원본 사진</h2>
    <img src="@ViewBag.OriginalPhotoUrl" alt="Original Photo" />
</div>

<div class="text-center">
    <h2>향상된 사진</h2>
    <img src="@ViewBag.EnhancedPhotoUrl" alt="Enhanced Photo" />
</div>
